@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #111827;
  background: radial-gradient(circle at top, #d9ecff 0%, #eff4fa 36%, #f8fafc 100%);
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}
